{% if canonical_url == 'https://mycosiq.com/products/mindy-s-sante-edp-perfume-100ml' %}
  
  <div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Buy This Fragrance And <span class="dark-font">Get Another Fragrance</span> of Your Choice <span class="light-font">Absolutely Free!</span></p>
 </div>


{% elsif canonical_url == 'https://mycosiq.com/products/gabriel-s-merci-edp-perfume-100ml' %}

  <div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Buy This Fragrance And <span class="dark-font">Get Another Fragrance</span> of Your Choice <span class="light-font">Absolutely Free!</span></p>
 </div>


{% elsif canonical_url == 'https://mycosiq.com/products/camille-s-amour-edp-perfume-100ml' %}

  <div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Buy This Fragrance And <span class="dark-font">Get Another Fragrance</span> of Your Choice <span class="light-font">Absolutely Free!</span></p>
 </div>


  {% elsif canonical_url == 'https://mycosiq.com/products/emilys-enchante-edp-perfume-100ml' %}

  <div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Buy This Fragrance And <span class="dark-font">Get Another Fragrance</span> of Your Choice <span class="light-font">Absolutely Free!</span></p>
 </div>



{% elsif canonical_url == 'https://mycosiq.com/products/vitamin-c-23' %}

<div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Add any<span class="dark-font"> 60-day pack and 30-day pack</span> to your cart and get the 30-Day pack<span class="light-font"> absolutely free!</span></p>
 </div>


  {% elsif canonical_url == 'https://mycosiq.com/products/spf-50-sunscreen-serum-100ml' %}
  
<div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Add any<span class="dark-font"> 60-day pack and 30-day pack</span> to your cart and get the 30-Day pack<span class="light-font"> absolutely free!</span></p>
 </div>


{% elsif canonical_url == 'https://mycosiq.com/products/abp-33-strong-exfoliating-peeling-solution' %}
<div class="cos-discount-text">
<span class="cosd-heading">
  Mega Black Friday Sale:
</span>
<p>Add any<span class="dark-font"> 60-day pack and 30-day pack</span> to your cart and get the 30-Day pack<span class="light-font"> absolutely free!</span></p>
 </div>
  
  {% else %}
  {% endif %}
