{% if product.title == "Emily's Enchanté EDP Perfume, 100ml" or  product.title =="Mindy’s Santé EDP Perfume, 100ml" or product.title =="Gabriel’s Merci EDP Perfume, 100ml" or product.title =="Camille’s Amour EDP Perfume, 100ml" %}
 <div class="outer-big-container">
  <p>Get Automatic <span>30% Off</span> On Checkout!</p>

   </div>
{% endif %}
