
<section class="home-sc-section">
  <button class="seo-btn" onclick="textS1()">
  <span class="seo-span1">Read More</span>
</button>
  
  <div class="content-box2">
<h2>Importance Of Intelligent Skincare In Daily Routine</h2>
<p>Given the aggressive nature of all the stimulants to which our skin is exposed, putting together an intelligent skincare routine is paramount. So what exactly is an intelligent skincare routine?
  <br>
Let us explore. 
  <br>
Although there has been an augmented demand for science-backed skin care products in the wake of an awakening in terms of articulate skin care, we are here to take these endowments up a notch. We will intimate the exact foundation on which the formulation of our skin care products is mounted so that you can make well-informed choices that resonate perfectly with the tone and texture of your skin. 
</p>
  </div>
    <div class="content-box2">
<h2>Skincare Products To Explore at CosIQ</h2>
<p>You can explore the following range of products for women and men on CosIQ:</p>
    </div>
    <div class="content-box2">
<h2>Shop By Category</h2>
<p>The first step when you buy skin care products online should be to identify your skin’s needs and choose products accordingly. On CosIQ, you can browse through products that are meant for <a href="/collections/cleanse"> face cleansers</a>, <a href="/collections/treat">face serums</a>, <a href="/collections/moisturise">face moisturisers</a>, <a href="/collections/spf">sun protection serums</a>, <a href="/collections/exfoliate">peel exfoliators</a> etc.</p>
    </div>
    <div class="content-box2">
<h2>Shop By Ingredients </h2>
<p>It is of great consequence to identify your respective skin care goals and consequently look for ingredients in skin care products for women that align with those goals. We have an exquisite range of science-backed skin care products that contain an array of ingredients like <a href="/collections/hyaluronic-acid">Hyaluronic acid</a>, <a href="/collections/peptides">peptides</a>, <a href="/collections/retinol-vit-a">Retinol</a>, <a href="/collections/vitamin-c">Vitamin C</a>, <a href="/collections/niacinamide-vit-b3">Niacinamide</a> etc. </p>
    </div>
    <div class="content-box2">
<h2>Shop By Skin Type</h2>
<p>Complete knowledge of your skin type is very important for you to put together a functioning and effective skincare routine. We have a dedicated range of skin care products for <a href="/collections/dry-skin">dry skin</a>, <a href="/collections/normal-skin">normal skin</a>, <a href="/collections/combination-skin">combination skin</a>, <a href="/collections/oily-skin">oily skin</a> and <a href="/collections/sensitive-skin">sensitive skin</a>. 
</p>
    </div>
    <div class="content-box2">
<h2>Shop By Concern</h2>
<p>The goal of skin care products online shopping is to address and alleviate skin concerns that act as an impediment for you to achieving flawless skin. No matter if you want to work on <a href="/collections/ageing-skin">ageing skin</a>, <a href="/collections/dull-skin">dull skin</a>, <a href="/collections/hyperpigmentation">pigmented skin</a> or <a href="/collections/acne">acne-prone skin</a>, we have got you covered!
</p>
    </div>
    <div class="content-box2">
<h2>Why Choose CosIQ?</h2>
<p>CosIQ is a skincare brand that is focused on instilling in its clients the ability to engage in smart skin care practices. It means that they can buy the best skin care products that perfectly resonate with their skin type and texture.<br>
Our range of science-backed skin care products gives complete disclosure about everything that has gone into the formulation. This won’t just allow you to buy skin care products online that suits you, but it will also help you in putting together the skin-rejuvenating routine of your dreams. This is because complete knowledge about the ingredients will save you from a lot of skin surprises!<br>
CosIQ prides itself on being completely transparent in terms of its product ingredients so that you can attain undeniable confidence in our cruelty-free skin care products. We are focused on helping you make mindful, conscious and well-guided choices for your skincare regime. 
</p>
    </div>
<div class="faq-box">
<h2>FAQs</h2>
<h3>Q1. Are CosIQ skincare products suitable for sensitive skin?</h3>
<p> A: Yes. We have a dedicated section of skin care products that are tailor-made for sensitive skin. </p>
  <h3>Q2. Is CosIQ a cruelty-free brand?</h3>
  <p>A: Yes. CosIQ is a science-backed cruelty-free brand that makes skin care products for people with varying needs. </p>
  <h3>Q3. What are some important skincare essentials?</h3>
  <p>A: Some important skincare essentials that are available on CosIQ are face cleansers, face serums, sunscreens etc. </p>
</div>
</section>

<style>

.home-sc-section {
  width: 95%;
  margin: 7rem auto 1rem auto;
  padding:35px;
  height:226px;
  overflow: hidden;
  border-radius: 1.4rem;
  position: relative;
  background: #F6F6F6;
  transition: height 0.5s linear;
}

  
.home-sc-section h2{
font-size: clamp(1.8rem,1.6vw,2.5rem);
  font-weight: 600;
  font-family: Avocado-Sans-Regular;
}

  .home-sc-section p{
    font-family: Avocado-Sans-Regular;
  font-weight: unset;
  font-size: clamp(1.6rem,1.25vw,1.8rem);
  }
.home-sc-section .faq-box h3{
  font-family: Avocado-Sans-Regular;
font-size: clamp(1.8rem,1.6vw,2rem);
}
  .home-sc-section .faq-box {
    padding-bottom:2rem;
    display:grid;
    row-gap:0.5rem;
  }
.home-sc-section .faq-box p{
  margin-bottom:1rem !important;
}
  .home-sc-section .faq-box ul li{
      font-family: Avocado-Sans-Regular;
      font-size: clamp(1.6rem,1.25vw,1.8rem);
  }
  
.home-sc-section p a{
 text-decoration:underline !important;
  color : #ec008c  !important;
}

  .home-sc-section button
  {
background: #F6F6F6;
      font-family: Avocado-Sans-Regular;
      font-size: clamp(1.6rem,1.25vw,1.8rem);
    color: var(--textcolor9) !important;
width: 100%;
position: absolute;
left: 0;
bottom: 0;
height:10rem;
z-index: 1;
border: 0 !important;
text-align: left;
  padding:35px;
  }
  .home-sc-section .content-box2{
    margin-bottom:1.5rem;
  }
  

.Show-full{
  height:auto;
}
.now-less{
  padding:0 35px !important;
  height: 4rem !important;
}
@media(max-width:768px){
  .home-sc-section button {
  height:64px;
  padding: 0 35px;
}
.home-sc-section{
  padding:2rem !important;
}
  
.home-sc-section h2,.home-sc-section h2,.home-sc-section h4{
  font-size: 18px !important;
}
  
}
  
</style>

<script>
const textS1 = function textS1(){
  document.querySelector(".home-sc-section").classList.toggle("Show-full");
  document.querySelector(".seo-btn").classList.toggle("now-less");
  var x =  document.querySelector(".seo-span1");
  if (x.innerHTML === "Read More") {
    x.innerHTML = "Read Less";
  } else {
    x.innerHTML = "Read More";
  }
};
</script>


{% schema %}
{
"name": "Home SEO",
"settings": [],
"presets": [
{
"name": "Home SEO"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}


