@media (min-width:1800px){
    .cos-skin-bnr .bnr-box{
        justify-content:unset;
    }

  .cos-banner .cos-quicklinks .cos-box {
  width: 7.8vw;
  height: 8.3vw;
  }

  .cos-banner .cos-quicklinks .cos-box img {
  width: 1.56vw;
  }
}


@media (max-width:768px){

body{
  width:auto;
  overflow-x:hidden;
}
  .outer-big-container .text-container {
     padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left:3rem;
        border-radius: 0 3vw 3vw 0;
  }

  .outer-big-container {
    display: flex;
    justify-content: center;
}

.discount-svg1 {
    position:absolute;
    top: 6%;
    right: 10%;
    z-index: 2;
}

  
  .outer-big-container{
    margin-left: 0 !important; 
  }
  .outer-big-container .star svg {
 width: 15vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    left:-1%;
    top: 33%;
    transform: translatey(-50%);
}
  
    .Sec-Paragraph {
        font-family: Avocado-Sans-Regular;
        font-weight: unset;
        font-size:1.4rem;
      }
      .Sec-Paragraph2 {
        font-family: Avocado-Sans-Thin;
        font-weight: unset;
        font-size:1.6rem;
      }
      .Sec-Paragraph-price{
        font-size: 1.4rem;
      }

      .Sec-Paragraph-price span{
        font-size: 1.0rem;
      }
      .Sec-heading-view,
      .Sec-heading{
        font-size:1.6rem;
      }
      .cos-bnr-container{
        width:96%
      }
    .cos-pd-container,
    .cos-banner-container{
        width:100% !important;
    }

.open .cos-nav{
  background:#fff;
}
.menu2 {
  display:flex !important;
}
  .open .logo1{
        display:none !important;
  }

  .open .bar{
    background: #858585;
  }

  .open .img-box a {
  background: #858585 !important;
}

   .open .path1 {
  stroke: var(--textcolor3) !important;
}
  
  .open .logo2{
    display:block !important;
  }

    .cos-hd .cos-nav{
        top:13% !important;
      padding:0.5rem 0;
    }
    .cos-banner{
        margin-top:0 !important;
    }

    .cos-banner .cos-banner-container>img{
        height:95svh;
        border-radius:0;
    }
    .cos-banner .cos-quicklinks
    {
        width:100%;
        column-gap: 2.7vw;
      top: 11%;
    }


.header-input {

  width: 35vw;
}
.header-input button svg {
  width: 2.8rem;
  height: 2.8rem;
}
  .header-input input {
  height: 5rem;
  }

.cos-hd .cos-nav a > img {
width: 11rem !important;
}
.cos-hd .cos-nav .cog-nav-right{
  column-gap:0.5rem;
}

.cos-hd .cos-nav a{
  text-align:center;
}
  
  .cos-hd .cos-nav .cog-nav-right .img-box a {
width: 4rem;
    padding:0.85rem;
  height: 4rem;
  }

.cos-hd .cos-nav .cos-container {
 width:93%;
  display: grid;
    grid-template-columns:17% 41% 23%;
}
.logo2,.logo1{
  text-align:center !important;
}
  
  
    .cos-banner .cos-quicklinks .cos-box{
        width: 22vw;
  height: 24vw;
  padding: 3vw
    }
    .cos-banner .cos-quicklinks .cos-box img{
        width:4.5vw;
    }
    .cos-banner .cos-quicklinks .cos-box .Sec-Paragraph {
        color: var(--textcolor3);
        font-size: clamp(1.1rem,1.1vw,1.4rem);
        margin-top: 0.5rem;
      }
      .cos-banner .cos-overlaytext{
        bottom: 10%;
        left:2%;
      }
      .cos-banner .cos-overlaytext h1{
        font-size: clamp(4.8rem,4vw,5rem);
        line-height:1.1;
        margin-bottom:0.5rem !important;
        width:33rem;
      }

      .cos-banner .cos-overlaytext a {
        font-size: clamp(2.4rem,1.6vw,3rem);
        color: var(--textcolor3);
        border-radius: 1.4rem;
        padding: 1rem 3rem;
      }

  .sc-index .scrolled-down{
  top:0 !important;
}


      .cos-partners .imgboxx{
        width:100%;
      }
      .cos-partners img {
        width: 60rem;
      }


      .cos-products .cos-pd-row .cos-pd-box .icon{
        padding:2rem;
        border-radius:1rem;
      }
      .cos-products .cos-pd-row{
        row-gap:2rem;
      }


      .cos-products .cos-pd-row .cos-pd-box .icon svg {
        width: 3.5rem;
        height: 3.5rem;
        aspect-ratio: 3/3;
      }

      .cos-products #nav-tabContent .cos-pd-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:93% !important;
        column-gap:5vw !important;
        row-gap:3rem;
      }
      .cos-products2 #nav-tabContent .cos-pd-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:90% !important;
        column-gap:5vw !important;
        row-gap:3rem;
      }

      .cos-pd-header {
        width: 95%;
        margin:0 auto 1.5rem auto;

      }

      .pd-box .text h3 {
        color: var(--textcolor1);
        width:100%;
      }
      .pd-box .pd-ratingstart{
        margin-top:0 !important;
      }
      
      .pd-box .pd-ratingstart svg {
        width: 70%;
      }

      .pd-box .dropdown button{
        width:80%;
      }
      .pd-box .text-box{
        align-items:start;
      }
      .pd-box .text-box .text{
        width:89%;
      }

      .pd-box .text-box i {
        width: 4.3rem;
        height: 4.3rem;       
      }
      

      .cos-pd-boxes .cos-pd-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:93% !important;
        column-gap:5vw !important;
        row-gap:3rem;
      }


      .cos-skin-bnr .bnr-box{
        padding:3rem 0 2rem 0;
        border-radius:1rem;
        margin-bottom:3.5rem;
      }


      .cos-skin-bnr .bnr-box{
        display: flex;
        flex-direction: column;
      }


      .cos-skin-bnr .bnr-box .box1 h2{
        font-size:2.8rem;
        margin:0 auto;
      }

      .cos-skin-bnr .bnr-box .box1 h2 img {
        width: 4.5rem;
      }

      .cos-skin-bnr .bnr-box .box1 p{
        text-align:center;
        font-size:1.4rem;
        width:75%;
        margin: 0 auto 1.5rem auto !important;
      }
      .cos-skin-bnr .bnr-box .box1:last-child{
        width:80%;
        margin:0 auto;
      }

      .cos-products2 .cos-pd-row .cos-pd-box .icon{
        padding:1.5rem;
        border-radius:1rem;
      }
      .cos-products2 .cos-pd-row{
        row-gap:2rem;
        column-gap:3rem;
      }


      .cos-products2 .cos-pd-row .cos-pd-box .icon svg {
        width:5rem;
        height:5rem;
        aspect-ratio: 3/3;
      }

      .cos-skin-bnr2 .bnr-box .text-box {
        width:60%;
        text-align:left;
      }



      .cos-skin-bnr .bnr-box .box1 .text-box p{
        width: 100% !important;
        text-align:left;
        margin-top:1rem !important;
        font-size:1.4rem;
        margin-bottom:0 !important;
      }

      .cos-skin-bnr2 .bnr-box .box-top:last-child .text-box p{
        text-align:left;
      }

  .cos-skin-bnr2 .bnr-box .box-top{
    align-items:center;
  }

      .cos-skin-bnr .bnr-box .box1 .text-box h3{
        font-size:1.4rem;
      }

      .cos-skin-bnr2 .bnr-box{
        padding:3rem 1.5rem;
      }

.cos-skin-bnr .cos-video-box{
  width:100%;
  height:75vw;
}
  
      .cos-skin-bnr2 .bnr-box .box-top:last-child {
        margin-top: 1rem;
      }

      .cos-skin-bnr .cos-video-text h4{
        font-size:2rem;
      }

      .cos-skin-bnr .cos-video-text>img {
        width:20vw !important;
        position:unset !important;
      }
      .cos-skin-bnr2 .bnr-box .box1:last-child{
        width:100%;
        margin-top:4rem;
      }
  .cos-skin-bnr2 .bnr-box .bnr-box-row img{
    width:33vw;
  }

      .cos-products3 .cos-pd-row .cos-pd-box .icon{
        padding:1.2rem;
      }
      .cos-products3 .cos-pd-row{
        justify-content:space-between;
        column-gap:unset;
      }
.cos-founder .cos-service .cos-innrow{
  padding:4rem 1rem;
}
      .cos-founder .cos-service .cos-innrow .cos-box img {
        width: 5.5rem;
        margin: 0 auto;
          margin-bottom: 0px;
        display: block;
        margin-bottom: 1rem;
      }

      .cos-founder .cos-service {
        margin-top: 4rem;
      }
      .cos-founder {
        margin-block: 5rem;
      }
      
      .cos-sportlight .Sec-heading,
      .cos-Blogs .Sec-heading{
        font-size:2rem;
      }

.cos-hd .cos-nav ul{
  display:none;
}


    .pd-img{
    height:60vw !important;
    
    }

.pd-ratingstart .jdgm-star{
  font-size:1.8rem;
}

.sc-menu {
  width: 15rem;
}

  .sc-index .cos-hd .cos-nav ul{
    display:none;
  }


.form-box {
  display: none;
}
  
/* landingpage start */

.product--large:not(.product--no-media) .product__media-wrapper {
  max-width:96% !important;
  width: 100% !important;
}

#MainProduct-template--16974452621561__main {
  width: min(100% - 0px,100%) !important;
  padding: 0 !important;
  max-width: 100% !important;
}

.product__info-wrapper.grid__item.scroll-trigger.animate--slide-in {
  background: #FFE8EE;
  width: 95%;
  margin: 0 auto;
  padding:2rem 1rem;
  max-width: 95% !important;
border-radius:0.8rem !important;
}

.product__title h1{
  text-align:center;
  font-size:6vw;
  width:95%;
  margin:0 auto;
}


.price.price--large.price--on-sale.price--show-badge {
  text-align: center;
}

  .product-form__buttons {
  max-width:100% !important;
}

  #Quantity-Form-template--16974452621561__main {
  max-width: 100%;
  min-width: 100%;
}

  .product__tax.caption.rte{
    text-align:center;
    font-size:1.4rem;
  }

#price-template--16974452621561__main .price-item.price-item--regular {
  font-size: clamp(1.6rem,1.25vw,20rem);
  margin-right: 0;
}
  .menu{
    display:none !important;
  }

  .pd-specbox,.cos-accordion-box{
    width:100%;
  }

.bigs-v2-coupons{
   width:100%;
}

.sc-stick-btn{
position: fixed;
bottom: 0;
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: .5rem;
width: 100%;
left: 0;
box-shadow: 0 4px 24px #00000040;
z-index: 888;
background: #fff;
padding: 1rem;
}
  

.sc-stick-btn #ProductSubmitButton-template--16974452621561__main{
  margin-bottom:0 !important;
}

  .product__column-sticky{
    position:unset !important;
  }

.scroll-trigger:not(.scroll-trigger--offscreen).animate--slide-in {
  display: block;
  opacity: 1;
  animation:unset !important;
}

.scroll-trigger.animate--slide-in {
  transform: unset !important;
}

  
#sc-product #shopify-block-9309a9ce-2e18-4f01-93c4-d75ab0cd6676 .jdgm-prev-badge {
  text-align: center;
}

.jdgm-row-actions,.jdgm-rev-widg__body {
  width: 93% !important;
  margin: 0 auto !important;
}

.jdgm-row-stars {
  width:92% !important;
  margin:0 auto !important;
}
#GalleryThumbnails-template--16974452621561__main {
  width: 90%;
  margin: 0 auto;
}
  .sc-stick-btn button{
    width:100% !important;
  }
.price__container{
  width:100% !important;
}
.sc-single-price{
  display:block !important;
  text-align:center;
}
  
/* landingpage end */


.sc-collection #gf-tree{
  border-radius:0px !important;
  padding:0 1rem !important;
}

.gf-filter-heading{
  font-family: Avocado-Sans-Bold !important;
  font-weight:unset !important;
  font-size: clamp(1.6rem,1vw,2.4rem) !important;
}


#ContactForm button{
   margin:0 auto;
  display:block;
}
  .spf-product-card__price,.spf-product-card__saleprice,.h4.spf-product-card__title a{
  font-size: 1.4rem !important;
}

.spf-product__info .jdgm-star {
  color: #FFD600 !Important;
  font-size: 1.8rem;
}
  #CartDrawer
.cart-item__quantity-wrapper {
  flex-wrap: nowrap !important;
}
#sc-cart
.cart-item__quantity-wrapper {
  flex-wrap: nowrap !important;
}

  .cos-side-box {
  width: 100%;
}

 .cos-pd-boxes {
  margin-top:1rem; 
}

.cos-sec-banner a:last-child img {
  margin-bottom: 0;
}
  .cos-products2 {
  margin-top: 2rem;
}

.cos-products2 .cos-pd-row{
  display:grid;
  align-items:start;
  grid-template-columns:repeat(3,1fr);
  width:80%;
}

.cos-pd-row .cos-pd-box p{
  line-height:1.2;
}
  
/* collectionpage end */



/* cartpage */
    .cart__footer{
    padding-bottom:0 !important;
  }

  #sc-cart .cart-item{
  display: grid;
  column-gap: 2rem;
  margin-bottom: 0;
  grid-template-columns: 30% 57% !important;
}

#sc-cart .cart-item img{
  height: 100%;
  object-fit: scale-down;

}

  #sc-cart .cart-items > thead {
  display: none;
}
#sc-cart .cart-item__totals.right{
  display:none;
}

  #sc-cart .cart-item{
  margin-bottom:1rem;
}

#sc-cart .cart-item:last-child{
   margin-bottom:0;
}

#sc-cart .title-wrapper-with-link{
  align-items:center;
}


  /* otherpages */

  .shopify-policy__container{
    padding-inline:0 !important;
  }



.sc-page .rte.scroll-trigger.animate--slide-in {
  display: grid;
  grid-template-columns:100%;
  row-gap: 1rem;
}


.cos-products3 .cos-pd-row {
  grid-template-columns: repeat(4,1fr);
  column-gap: 1.5rem;
  width:90% !important;
}
  .sc-new-cosiq{
    margin:0 !important;
  }
  .sc-new-cosiq .product-form__submit {
  min-width: 5rem;
    margin: 0 !important;
}
  .cos-Nothing {
  display: flex;
    padding: 3rem 1rem;
  flex-direction: column-reverse;
    border-radius: 1rem;
    overflow:hidden;
}

  .cos-Nothing .cos-inner-nothing:first-child{
    padding:unset !important;
  }

  .cos-Nothing h3 {
width: 90%;
margin-inline:auto !important;
margin-bottom:2rem !important;
}

  .cos-Nothing img {

  transform: translatex(38%);
}
.cos-nothing-row {
  column-gap: 1rem;
}

.cos-nothing-row p {
  padding: 1.3rem 0.8rem;
}

.slider-button{
  display:none !important;
}


  #variant-radios-template--16974452621561__main label{
    width:100%;
  }
#price-template--16974452621561__main{
 margin-bottom: 0 !important;
    margin-top: 0;
}
  
#price-template--16974452621561__main .price__container {
  width: fit-content !important;
}

  #shopify-block-9309a9ce-2e18-4f01-93c4-d75ab0cd6676 {
  margin-bottom: 0 !important;
}




  .cos-skin-bnr2 .bnr-box-row{
    display: flex;
  flex-direction: column;
  }

.cos-skin-bnr .cos-video-text{
  margin-bottom: 1rem;
}

.cos-skin-bnr .cos-video-text h4 {
  padding-left:0;
}

  .gl-d-searchbox {
  max-width: 95%;
  }

  .sc-single-price{
    text-align:center;
    display:block !important;
  }

.cos-side-box1, .cos-side-box2 {
  padding-left: 1rem;
}
  .price.price--large.price--show-badge {
  text-align: center;
}

  .pd-specbox .pd-innerow .box {
padding: 1.8rem 2rem 2.5rem 2rem;
  height: auto;
  }

.afterImage {
  height: 79vw;
  position: absolute;
  object-fit: contain;
  top: 35%;
  left: -34%;
}
  

.pd-box img{
    object-position: left;
}
      .about-page .cos-text {
        width: 100%;
    }

    .cos-about-body .cos-text h4 {
        background: #D6418D;
        color: var(--textcolor3);
        width: 95%;
    }

.cos-about-header{
  width:100%;
  margin-bottom: 3rem;
}

  #sc-blog .main-blog.page-width.section-template--16974452359417__main-padding {
  max-width: 93%;
}
#sc-article .article-template ul,
#sc-article .article-template ol
{
  padding:0;
  margin:0;
}
  #wa-chat-btn-root {
    bottom: 10% !important;
  }
#sc-search .text-box {
  margin-top: 7rem !important;
}
  #sc-search #main-search-filters {
  padding: 0 2rem !important;
}
   #sc-search .grid.product-grid.grid--2-col-tablet-down.grid--4-col-desktop {
  padding-inline: 1.5rem;
}
  .phases-blog-detail{
   padding:0 1.5rem !important;
  }


.cos-discount-text {
    width: 100%;
    text-align: center;
}
  
}
