    {{ 'cosai.css' | asset_url | stylesheet_tag }}
   {{ 'cosmedia4567.css' | asset_url | stylesheet_tag }}
 <section id="first">
        <div class="outer-container">
            <div class="inner-container">
                <div class="top-container">
                    <div class="top-heading-txt">
                        <div class="headings">
                            <h2 class="m-heading">Discover Your Skin's Hidden Problems with Our</h2>
                            <h2 class="m-heading2"> Advanced Face Scanner</h2>

                            <div class="mobile-headings">
                                <h2 class="m-heading-mobile">Discover Your Skin's Hidden</h2>
                                <h2 class="m-heading-mobile">Problems with Our Advanced</h2>
                                <h2 class="m-heading-mobile">Face Scanner</h2>
                            </div>
                        </div>
                        <div class="text">
                            <p class="para">Welcome to COSIQ's revolutionary Skin Scanner! We understand that everyone's
                                skin is
                                unique,
                                and finding the perfect skincare</p>
                            <p class="para"> routine can be a daunting task.</p>

                            <p class="para" id="para">That's why we've developed this AI based technology to help you
                                uncover
                                your
                                skin's hidden
                                problems and provide you with</p>
                            <p class="para">personalised recommendations for radiant, healthy skin.</p>
                        </div>
                    </div>


                    <div class="icons-group">
                        <div class="left-box">
                            <img src="https://cdn.shopify.com/s/files/1/0612/3143/1929/files/camera_-copy1.svg?v=1701336948" alt="" height="100%" width="100%" class="icons">
                            <div class="left-box-txt">
                                <h3>Begin the Scan</h3>
                                <p>Start by turning on your camera and</p>
                                <p>initiating the face scan.</p>
                            </div>
                        </div>
                        <div class="middle-box">
                            <img src="https://cdn.shopify.com/s/files/1/0612/3143/1929/files/Group_238059.svg?v=1701244729" alt="" height="100%" width="100%" class="icons">
                            <div class="middle-box-txt">
                                <h3>Analyze Your Skin</h3>
                                <p>Get instant results as our technology</p>
                                <p> analyzes your skin.</p>
                            </div>
                        </div>
                        <div class="right-box">
                            <img src="https://cdn.shopify.com/s/files/1/0612/3143/1929/files/Group_238060.svg?v=1701244728" alt="" height="100%" width="100%" class="icons">
                            <div class="right-box-txt">
                                <h3>Your Personalized Recommendations</h3>
                                <p>Based on the scan, explore the</p>
                                <p>recommended products tailored to your</p>
                                <p> unique skincare needs.</p>
                            </div>
                        </div>

                          
                        <div class="bg-line-horizontal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="832" height="4" viewBox="0 0 832 4" fill="none">
  <path d="M830 4C831.105 4 832 3.10457 832 2C832 0.89543 831.105 0 830 0V4ZM0 4H2.01212V0H0V4ZM9.05455 4H13.0788V0H9.05455V4ZM20.1212 4H24.1455V0H20.1212V4ZM31.1879 4H35.2121V0H31.1879V4ZM42.2545 4H46.2788V0H42.2545V4ZM53.3212 4H57.3454V0H53.3212V4ZM64.3879 4H68.4121V0H64.3879V4ZM75.4546 4H79.4788V0H75.4546V4ZM86.5212 4H90.5454V0H86.5212V4ZM97.5879 4H101.612V0H97.5879V4ZM108.655 4H112.679V0H108.655V4ZM119.721 4H123.745V0H119.721V4ZM130.788 4H134.812V0H130.788V4ZM141.855 4H145.879V0H141.855V4ZM152.921 4H156.945V0H152.921V4ZM163.988 4H168.012V0H163.988V4ZM175.055 4H179.079V0H175.055V4ZM186.121 4H190.145V0H186.121V4ZM197.188 4H201.212V0H197.188V4ZM208.255 4H212.279V0H208.255V4ZM219.321 4H223.345V0H219.321V4ZM230.388 4H234.412V0H230.388V4ZM241.455 4H245.479V0H241.455V4ZM252.521 4H256.545V0H252.521V4ZM263.588 4H267.612V0H263.588V4ZM274.655 4H278.679V0H274.655V4ZM285.721 4H289.745V0H285.721V4ZM296.788 4H300.812V0H296.788V4ZM307.854 4H311.879V0H307.854V4ZM318.921 4H322.945V0H318.921V4ZM329.988 4H334.012V0H329.988V4ZM341.054 4H345.079V0H341.054V4ZM352.121 4H356.145V0H352.121V4ZM363.188 4H367.212V0H363.188V4ZM374.254 4H378.279V0H374.254V4ZM385.321 4H389.345V0H385.321V4ZM396.388 4H400.412V0H396.388V4ZM407.454 4H411.479V0H407.454V4ZM418.521 4H422.545V0H418.521V4ZM429.588 4H433.612V0H429.588V4ZM440.654 4H444.678V0H440.654V4ZM451.721 4H455.745V0H451.721V4ZM462.788 4H466.812V0H462.788V4ZM473.854 4H477.878V0H473.854V4ZM484.921 4H488.945V0H484.921V4ZM495.987 4H500.012V0H495.987V4ZM507.054 4H511.078V0H507.054V4ZM518.121 4H522.145V0H518.121V4ZM529.188 4H533.212V0H529.188V4ZM540.254 4H544.278V0H540.254V4ZM551.321 4H555.345V0H551.321V4ZM562.387 4H566.412V0H562.387V4ZM573.454 4H577.478V0H573.454V4ZM584.521 4H588.545V0H584.521V4ZM595.587 4H599.612V0H595.587V4ZM606.654 4H610.678V0H606.654V4ZM617.721 4H621.745V0H617.721V4ZM628.787 4H632.812V0H628.787V4ZM639.854 4H643.878V0H639.854V4ZM650.921 4H654.945V0H650.921V4ZM661.987 4H666.012V0H661.987V4ZM673.054 4H677.078V0H673.054V4ZM684.121 4H688.145V0H684.121V4ZM695.187 4H699.211V0H695.187V4ZM706.254 4H710.278V0H706.254V4ZM717.321 4H721.345V0H717.321V4ZM728.387 4H732.411V0H728.387V4ZM739.454 4H743.478V0H739.454V4ZM750.52 4H754.545V0H750.52V4ZM761.587 4H765.611V0H761.587V4ZM772.654 4H776.678V0H772.654V4ZM783.72 4H787.745V0H783.72V4ZM794.787 4H798.811V0H794.787V4ZM805.854 4H809.878V0H805.854V4ZM816.92 4H820.945V0H816.92V4ZM827.987 4H830V0H827.987V4Z" fill="black" fill-opacity="0.15"/>
</svg>
                        </div>
                       
                        <div class="bg-line-vertical">
<svg xmlns="http://www.w3.org/2000/svg" width="2" height="190" viewBox="0 0 2 190" fill="none">
  <path d="M0.00313668 188.406C0.00313666 188.956 0.449444 189.402 0.999992 189.402C1.55054 189.402 1.99685 188.956 1.99685 188.406L0.00313668 188.406ZM0.00314492 -4.35739e-08L0.00314488 1.00752L1.99686 1.00752L1.99686 4.35739e-08L0.00314492 -4.35739e-08ZM0.00314472 4.53382L0.00314463 6.54886L1.99685 6.54886L1.99685 4.53382L0.00314472 4.53382ZM0.00314448 10.0752L0.00314439 12.0902L1.99685 12.0902L1.99685 10.0752L0.00314448 10.0752ZM0.00314424 15.6165L0.00314415 17.6315L1.99685 17.6315L1.99685 15.6165L0.00314424 15.6165ZM0.003144 21.1578L0.00314391 23.1729L1.99685 23.1729L1.99685 21.1579L0.003144 21.1578ZM0.00314375 26.6992L0.00314366 28.7142L1.99685 28.7142L1.99685 26.6992L0.00314375 26.6992ZM0.00314351 32.2405L0.00314342 34.2556L1.99685 34.2556L1.99685 32.2405L0.00314351 32.2405ZM0.00314327 37.7819L0.00314318 39.7969L1.99685 39.7969L1.99685 37.7819L0.00314327 37.7819ZM0.00314303 43.3232L0.00314294 45.3383L1.99685 45.3383L1.99685 43.3232L0.00314303 43.3232ZM0.00314278 48.8646L0.0031427 50.8796L1.99685 50.8796L1.99685 48.8646L0.00314278 48.8646ZM0.00314254 54.4059L0.00314245 56.4209L1.99685 56.4209L1.99685 54.4059L0.00314254 54.4059ZM0.0031423 59.9473L0.00314221 61.9623L1.99685 61.9623L1.99685 59.9473L0.0031423 59.9473ZM0.00314206 65.4886L0.00314197 67.5036L1.99685 67.5036L1.99685 65.4886L0.00314206 65.4886ZM0.00314182 71.0299L0.00314173 73.045L1.99685 73.045L1.99685 71.0299L0.00314182 71.0299ZM0.00314157 76.5713L0.00314148 78.5863L1.99685 78.5863L1.99685 76.5713L0.00314157 76.5713ZM0.00314133 82.1126L0.00314124 84.1276L1.99685 84.1276L1.99685 82.1126L0.00314133 82.1126ZM0.00314109 87.6539L0.003141 89.669L1.99685 89.669L1.99685 87.6539L0.00314109 87.6539ZM0.00314085 93.1953L0.00314076 95.2103L1.99685 95.2103L1.99685 93.1953L0.00314085 93.1953ZM0.0031406 98.7366L0.00314052 100.752L1.99685 100.752L1.99685 98.7366L0.0031406 98.7366ZM0.00314036 104.278L0.00314027 106.293L1.99685 106.293L1.99685 104.278L0.00314036 104.278ZM0.00314012 109.819L0.00314003 111.834L1.99685 111.834L1.99685 109.819L0.00314012 109.819ZM0.00313988 115.361L0.00313979 117.376L1.99685 117.376L1.99685 115.361L0.00313988 115.361ZM0.00313964 120.902L0.00313955 122.917L1.99685 122.917L1.99685 120.902L0.00313964 120.902ZM0.00313939 126.443L0.0031393 128.458L1.99685 128.458L1.99685 126.443L0.00313939 126.443ZM0.00313915 131.985L0.00313906 134L1.99685 134L1.99685 131.985L0.00313915 131.985ZM0.00313891 137.526L0.00313882 139.541L1.99685 139.541L1.99685 137.526L0.00313891 137.526ZM0.00313867 143.067L0.00313858 145.082L1.99685 145.082L1.99685 143.067L0.00313867 143.067ZM0.00313842 148.609L0.00313834 150.624L1.99685 150.624L1.99685 148.609L0.00313842 148.609ZM0.00313818 154.15L0.00313809 156.165L1.99685 156.165L1.99685 154.15L0.00313818 154.15ZM0.00313794 159.691L0.00313785 161.706L1.99685 161.706L1.99685 159.691L0.00313794 159.691ZM0.0031377 165.233L0.00313761 167.248L1.99685 167.248L1.99685 165.233L0.0031377 165.233ZM0.00313746 170.774L0.00313737 172.789L1.99685 172.789L1.99685 170.774L0.00313746 170.774ZM0.00313721 176.315L0.00313712 178.33L1.99685 178.33L1.99685 176.315L0.00313721 176.315ZM0.00313697 181.857L0.00313688 183.872L1.99685 183.872L1.99685 181.857L0.00313697 181.857ZM0.00313673 187.398L0.00313668 188.406L1.99685 188.406L1.99685 187.398L0.00313673 187.398Z" fill="black" fill-opacity="0.15"/>
</svg>
                        </div>

                    </div>
                </div>


                <div class="term-sec">

                    <div class="checkbtn-sec">
                        <input type="checkbox" name="check" id="check"><label for="check"> I Accept the <a href=""
                                class="colored">Term &
                                Conditions!</a></label>
                        <a href="/pages/ai2nd">
                            <div class="btn">Get Started</div>
                        </a>
                    </div>


                </div>
            </div>


        </div>
    </section>