<section class="about-page">
    <div class="cos-about-header">
        
        <img src="https://cdn.shopify.com/s/files/1/0612/3143/1929/files/aboute.png?v=1694102298" alt="about-usimg" class="d-none d-md-block">
       <img src="https://cdn.shopify.com/s/files/1/0612/3143/1929/files/Group_237795.png?v=1694102286" alt="about-usimg" class="d-block d-md-none">

      
    </div>


        <div class="cos-about-body">
            <div class="content-boxes">

            
            <h2>
                Introducing Our Brand ‘CosIQ’ <span>*Drumrolls*</span>
            </h2>
            <p>Hey you! Welcome to CosIQ! You are now reviewing the first skincare brand in India to perform independent clinical trials and develop products based on it. At CosIQ, we create safe and intelligent skincare. We openly share the considerable research that underpins all of our formulae with you. 

                A variety of our professional-grade skincare products are formulated with high-quality ingredients that we are confident will benefit your skin. With a skincare brand that is technologically advanced, clinically effective, and has a truly original perspective on a wide variety of potent formulas, we are sure that you’ll be able to address all your prevalent skin concerns. 
               
               We're delighted to have you join our family!</p>
        </div>

        <div class="content-boxes">

            
            <h3>
                The Vision We Have & The Mission we aim: 
            </h3>
            <p>‘’We aim to empower women and men across India with the confidence of a healthy skin.’’

                Our core purpose is to partner throughout your skincare journey with knowledgeable content. No one should put anything on their skin without knowing the proper labels. Isme nimboo hai doesn’t serve the purpose, right? No exclusions; every drop you put on your skin should be effective and healthy for your skin. </p>
        </div>

        <div class="content-boxes">
            <h3>Our Values & Ethos That Keep Us Going:</h3>
            <h4> CosIQ’s main values are <span>diversity, inclusivity & transparency.</span></h4>
      <ul>
        <li>Even if diversity is gradually becoming the norm, the beauty industry still has a long way to go. We at CosIQ, appreciate ‘beauty within’ - one unconstrained by tags or labels!</li>
        <li>At CosIQ, we hire & serve individuals from different backgrounds and cultures. We believe in gender neutrality and that’s what reflects in our product offering. Irrespective of your gender, you can use our products. We don't claim or enact ‘product doubling’ based on gender.</li>
        <li>We share the complete list of ingredients for all products on our website and product packaging. Our labels are factually correct, display the right percentage of active ingredients, and can be comprehended by users effortlessly.</li>
      </ul>

        </div>

        <div class="content-boxes">
            <h3>What Makes CosIQ Unique? - #CosIQCult</h3>
            <p>We are witnessing a paradigm shift in the market with a huge upsurge in the demand for skincare that is based on active molecules with proven, scientific results. So how are we different? Well, we are a clean go-to option for customers looking for active-based skincare that is safe, effective & affordable. We are a brand leveraging the plus points of Pharma, Beauty & FMCG industries rolled into one, comprehensive product range. Each product is made using multifaceted ingredients that enhance the general health of your skin. </p>
<p>Each of our formulae is developed in-house, and supported by science. In fact, many of our ingredients have been approved by ECOCERT- one of the biggest certification bodies in the world. From the meals you eat to the skin care products you use, less processed items are always preferred. By selecting certified skin products, you not only safeguard your skin's health but also contribute to the preservation of the environment.</p>
<p>Hey wait! There is more on the plate: Our brand is also non-toxic certified and you can only be certain about a brand that complies with non-toxic certification requirements, as it serves as a continual reminder of your dedication to both our planet and skin!
<p>Each of our formulae is developed in-house, and supported by science. In fact, many of our ingredients have been approved by ECOCERT- one of the biggest certification bodies in the world. From the meals you eat to the skin care products you use, less processed items are always preferred. By selecting certified skin products, you not only safeguard your skin's health but also contribute to the preservation of the environment.
    It is standard practice for us to employ raw materials that have been morally and environmentally sourced responsibly. </p>  
        </div>

        <div  class="cos-text">
        <h4>We offer results; we don't promise miracles. </span></h4>
    </div>

        
        <div class="content-boxes">
            <h3>Our Formulary Philosophy </h3>
            <p>You deserve sensible skin care options without the hype of natural, organic, and a plethora of undecipherable fancy ingredients or tags that are unproven to work on your skin. Our outlook? Safe and sage beauty! Each of our formulations is efficient, secure, and supported by quoted scientific research in accordance with the history of consumer advocacy. </p>
<p>Our approach aims toward delivering the right ingredients in the right bioavailable form with the right strength to get visible, tangible results. </p>
<p>Because maintaining healthy skin shouldn't be a secret, we explore the truth about skincare and share all the information we learn with you along the way. We adhere to the truth, not just what is trending! </p>      
   <ul>
    <li><span>Multi-faced formulation:</span> Antioxidants are present in every product we make, regardless of whether the components are used to replace or restore skin. </li>
    <li><span>Cruelty-free:</span> We take pride in the fact that we never test our products on animals. </li>
    <li><span>Packed for potency:</span> Due to the fact that essential ingredients lose their effectiveness when exposed to air, water, or light, we don't utilize wasteful transparent packaging. We only use airless bottles that protect against the oxidation of products. </li>
    <li><span>Non-irritant, flavor-free & Non-scented:</span>  We just use the ingredients that the skin requires. No fancy claims of using Khushboo wale gulab or haldi from the best haldi bagh. We believe in using the bare minimum ingredients which are just enough to deliver what is required by your skin.</li>
   </ul>     

</div>
        

<div class="content-boxes">
    <h3>Have a question about skincare?</h3>
    <p>Our certified skin care specialists are always here for individualized consultations. Give us a call anytime.</p>    

</div>


    </div>
    
</section>