   {{ 'cosai.css' | asset_url | stylesheet_tag }}
   {{ 'cosmedia4567.css' | asset_url | stylesheet_tag }}

    <section id="second">
        <div class="container-form">
            <form action="/pages/ai3rd" id="myform">
                <h2 class="m-heading">Enter Your Details</h2>
                <input type="number" name="num" id="num" placeholder="Mobile Number">
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="email" name="email" id="email" placeholder="Email ID">
                <!-- <input type="submit" class="btn2" value="Next" name="next"> -->
              <a href="/pages/ai3rd">
                            <div class="btn2">Next</div>
                        </a>
            </form>


        </div>

    </section>